html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Switzer", sans-serif;
}

body::-webkit-scrollbar {
    display: none !important;
}

a {
    text-decoration: none !important;
}

.btn {
    text-transform: none !important;
}

.card:hover {
    background: #e0f3ff;
}

.splide__slide:not(.is-active) {
    visibility: hidden;
}

/* 
<----------------------------------------------------------------->
Button Up
<-----------------------------------------------------------------> 
*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: #25d366;
    background-color: transparent;
    cursor: pointer;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 50rem;
    border-color: #25d366 !important;
    font-size: 40px !important;
}

#myBtn:hover {
    background-color: #25d366;
    color: #fff;
}

/* 
<----------------------------------------------------------------->
Header
<-----------------------------------------------------------------> 
*/
#header .navbar.active__menu {
    background-color: white;
}

.navbar#nav1 {
    box-shadow: none !important;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: -10%;
    opacity: 0;
    z-index: 4;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in;

    &.active__menu {
        top: 0%;
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        transition: all 0.3s ease-out;
    }
}

#header #nav1 .nav-link {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.16px;
}

#header #nav1 .nav-link.active {
    color: #009dfb;
}

#header .navbar-collapse .nav-link:hover {
    color: #009dfb;
}

#header #nav2 {
    display: none;
}

#header .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
    min-width: 85vw;
    position: fixed !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 55px;
}

#header .dropdown-menu .body-text h5 {
    font-weight: 600;
    font-size: 15px;
}

#header .dropdown-menu .body-text small {
    font-weight: 400;
    font-size: 15px;
    color: #606060;
}

#header .dropdown > a > i {
    transition: 0.3s;
}

#header .dropdown:hover > a > i {
    transform: rotate(180deg);
}

#header .dropdown-menu .item {
    box-shadow: none !important;
}

.item.active > .card {
    background-color: #009dfb;
}

.item.active,
.item.active .icon > rect {
    background-color: #f0f9ff;
    color: black !important;
    fill: #009dfb;
}

.item.active .icon > path {
    fill: #fff;
}

.item.active .icon img > path {
    fill: #fff;
}

.item.active,
.item.active .icon2 > rect {
    background-color: #f0f9ff;
    fill: #009dfb;
}

.item.active .icon2 > path {
    stroke: #fff;
}

.item:hover > .card {
    background-color: #009dfb;
}

.item:hover,
.item:hover .icon > rect {
    background-color: #f0f9ff;
    color: black !important;
    fill: #009dfb;
}

.item:hover .icon > path {
    fill: #fff;
}

.item:hover .icon img > path {
    fill: #fff;
}

.item:hover,
.item:hover .icon2 > rect {
    background-color: #f0f9ff;
    fill: #009dfb;
}

.item:hover .icon2 > path {
    stroke: #fff;
}

/* 
<===========================================================================================>
LeandingPage
<===========================================================================================>
*/
#judul {
    margin-top: 8rem;
}

#judul .image {
    margin-top: 2rem;
}

#judul h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: 0.24px;
}

#judul p {
    font-weight: 400;
    font-size: 20.5px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
Hero
<-----------------------------------------------------------------> 
*/
#hero {
    background: url("../img/asset/background/home/hero.png") top center;
    background-size: contain;
}

#inhero {
    width: 100%;
    margin-top: 150px;
}

#hero h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 86px;
    letter-spacing: 0px;
    text-align: center;
}

#hero h5 {
    /* Heading/H5/24 */

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.24px;
    color: #606060;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

/* 
<----------------------------------------------------------------->
Hero Image
<-----------------------------------------------------------------> 
*/
#heroimg {
    width: 100%;
}

/* 
<----------------------------------------------------------------->
Services
<-----------------------------------------------------------------> 
*/
#services {
    background: #f6f6f6;
}

#services h6 {
    font-size: 18px !important;
    color: #1d1d21;
}

#services p {
    font-size: 14px;
    color: #606060;
}

#services a {
    color: #0079d7 !important;
    font-size: 16px;
}

/* 
<----------------------------------------------------------------->
Promotion
<-----------------------------------------------------------------> 
*/
#promotion h1 {
    font-weight: 600;
    font-size: 45px;
}

#promotion p {
    font-weight: 400;
    font-size: 20.5px;
    color: #606060;
}

#promotion .card input {
    width: 50% !important;
    height: 40% !important;
}

#promotion .card h5 {
    font-weight: 500;
    font-size: 18px;
}

#promotion .card p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px !important;
}

#promotion #cor1 {
    display: none !important;
}

/* 
<----------------------------------------------------------------->
CTA
<-----------------------------------------------------------------> 
*/
#cta {
    margin-top: 5rem;
}

#cta .card {
    background-image: url(../img/asset/background/cta/cta.svg);
    background-size: cover;
    background-position: center;
}

#cta .card h1 {
    font-weight: 600;
    font-size: 49px;
}

#cta .card p {
    font-weight: 400;
    font-size: 18px;
    color: #f5f5f5;
}

#cta .card img {
    max-width: 100%;
    max-height: 100%;
}

/* 
<----------------------------------------------------------------->
Strategic
<-----------------------------------------------------------------> 
*/
#strategic {
    margin-top: 5rem !important;
}

#strategic .card {
    background-color: #e0f3ff !important;
    width: 60% !important;
    text-align: center !important;

    font-weight: 600;
    font-size: 16px;
    color: #009dfb;
}

#strategic p {
    font-weight: 600;
    font-size: 47px;
}

#strategic .str2 {
    display: none !important;
}

/* 
<----------------------------------------------------------------->
Clients
<-----------------------------------------------------------------> 
*/
#clients {
    margin-top: 10% !important;
}

#clients h1 {
    font-weight: 600;
    font-size: 50px;
}

#clients p {
    margin-top: 25px !important;
    width: 65% !important;

    font-weight: 400;
    font-size: 20px;
    color: #606060;
}

#clients .cli2 {
    display: none;
}

/* 
<----------------------------------------------------------------->
Out Works
<-----------------------------------------------------------------> 
*/
#ourworks {
    margin-top: 10rem !important;
}

#ourworks h1 {
    font-weight: 600;
    font-size: 50px;
}

#ourworks .card {
    box-shadow: none !important;
}

#ourworks .card img {
    height: 20rem !important;
}

#ourworks .card h5 {
    font-weight: 600;
    font-size: 28px;
}

#ourworks .card p {
    font-weight: 400;
    font-size: 20px;
    color: #606060;
}

#ourworks #our2 {
    display: none !important;
}

/* 
<----------------------------------------------------------------->
Testimonial
<-----------------------------------------------------------------> 
*/
#testimonial {
    margin-top: 10rem !important;
    width: 75% !important;
}

#testimonial h1 {
    font-weight: 600;
    font-size: 53px;
}

#testimonial p {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

#slide {
    text-color: white !important;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

#slide .card {
    width: 100% !important;
    background: linear-gradient(95.61deg, #009dfb 0%, #0079d7 98.85%);
    color: #fff;
    transition-duration: 350ms;
    transition-timing-function: ease;
}

#slide .card.is-active {
    transform: translateY(-2rem);
}

#slide .splide__slide:not(.is-active) {
    opacity: 0.2;
}

#slide .card-text {
    font-weight: 400;
    font-size: 24px;
}

#slide .card .row {
    margin-top: 5rem !important;
    width: 95% !important;
}

#slide .card .row h4 {
    font-weight: 500;
    font-size: 22px;
}

#slide .card .row p {
    font-weight: 400;
    font-size: 15px;
}

#slide .splide__track {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

#slide .splide__pagination li button {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 2rem !important;
    border-radius: 50px !important;
}

#slide .splide__pagination .is-active {
    background: #009dfb !important;
}

#slide .splide__slide:not(.is-active) {
    visibility: visible;
}

/* 
<----------------------------------------------------------------->
CTA 2
<-----------------------------------------------------------------> 
*/
#cta2 {
    margin-top: 10rem;
    background-image: url(../img/asset/background/cta/cta2.svg);
    background-size: cover;
    background-position: center;

    /* background-color: #009dfb; */
}

#cta2 .container {
    width: 71% !important;
    padding-top: 6% !important;
    padding-bottom: 6% !important;
}

#cta2 h1 {
    font-weight: 600;
    font-size: 53px;
}

#cta2 p {
    font-weight: 400;
    font-size: 18px;
    color: #ededed;
}

/* 
<----------------------------------------------------------------->
Media
<-----------------------------------------------------------------> 
*/
#media {
    padding-top: 5% !important;
}

#media .card:hover {
    background-color: #fff;
}

#media h1 {
    font-weight: 600;
    font-size: 40px;
}

#media p {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

/* 
<===========================================================================================>
AboutPage
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
Partner
<-----------------------------------------------------------------> 
*/
#partner {
    margin-top: 6rem;
}

#partner h1 {
    font-weight: 600;
    font-size: 50px;
}

#partner .text {
    margin-top: 2rem;

    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
How we are
<-----------------------------------------------------------------> 
*/
#hwa {
    margin-top: 5rem;
}

#hwa h1 {
    font-weight: 600;
    font-size: 50px;
}

#hwa .text {
    margin-top: 2rem;

    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
Vission and Mission
<-----------------------------------------------------------------> 
*/
#vimi {
    margin-top: 5rem;
    padding: 5rem;
    background: #f5f5f5;
}

#vimi h1 {
    font-weight: 600;
    font-size: 50px;
}

#vimi .text {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 20px;
    color: #383838;
}

/* 
<----------------------------------------------------------------->
Life at Olahkarsa
<-----------------------------------------------------------------> 
*/
#life {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    background: #f5f5f5;
}

#life .title h1 {
    font-weight: 600;
    font-size: 50px;
}

#life .title p {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

#life .row p {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

#life iframe {
    height: 250px !important;
}

#life .y1 {
    display: none !important;
}

/* 
<----------------------------------------------------------------->
Olahkarsa Media
<-----------------------------------------------------------------> 
*/
#okmedia {
    margin-top: 5rem;
}

#okmedia .title h1 {
    font-weight: 600;
    font-size: 50px;
}

#okmedia .title p {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

#okmedia .splide {
    margin: 0 auto;
}

#okmedia .image img {
    width: 100%;
    height: 600px;
    border-radius: 1rem;
}

#okmedia .thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}

#okmedia .thumbnail {
    width: 100px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.3;
}

#okmedia .thumbnail.is-active {
    opacity: 1;
}

#okmedia .thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

/* 
<===========================================================================================>
Contact Us
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
hero
<-----------------------------------------------------------------> 
*/
#contact {
    margin-top: 6rem;
    background-color: #009dfb;
}

#contact .image {
    background-image: url("../img/company/contact/image.svg");
    background-position: right;
}

#contact .card.w-50 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#contact .card .card:hover {
    background-color: #fff;
}

#contact .card .title {
    font-weight: 600;
    font-size: 50px;
}

#contact .card .text {
    font-weight: 400;
    font-size: 25px;
    color: #606060;
}

#contact .card .contact {
    font-weight: 500;
    font-size: 35px;
}

#contact .card a {
    font-weight: 400;
    font-size: 25px;
    color: #606060;
}

#contact .card i {
    font-size: 30px;
    color: #009dfb;
}

/* 
<----------------------------------------------------------------->
content
<-----------------------------------------------------------------> 
*/
#content {
    margin-top: 6rem;
}

#content .title {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 6rem;
}

#content form h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 150%;
}

#content input,
#content select,
#content .form-label {
    color: #606060;
}

#content .form-control,
#content form select {
    background-color: #d9d9d9;
}

#content .input-group .input-group-text {
    height: 58px !important;
}

.form-floating > .form-control ~ label::after,
.form-floating > .form-select ~ label::after {
    background-color: transparent !important;
}

.invalid-feedback {
    margin-top: -10px !important;
}

.valid-feedback {
    margin-top: -10px !important;
}

/* 
<----------------------------------------------------------------->
maps
<-----------------------------------------------------------------> 
*/

#maps {
    margin-top: 6rem !important;
}

#maps .title {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 3rem;
}

/* 
<===========================================================================================>
srapp
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
Hero
<-----------------------------------------------------------------> 
*/

#srapp {
}

#srapp .hero {
    margin-top: 6rem !important;
}

#srapp .hero h1 {
    font-size: 45px;
    font-weight: 600;
}

#srapp .hero p {
    font-size: 24px;
    font-weight: 400;
    color: #606060;
}
/* 
<----------------------------------------------------------------->
Content
<-----------------------------------------------------------------> 
*/
#srapp .content {
    margin-top: 6rem;
}

#srapp .content .title {
    font-weight: 600;
    font-size: 45px;
}

#srapp .content .teks {
    font-weight: 400;
    font-size: 24px;
    color: #606060;
}

#srapp .content .card .title {
    font-weight: 600;
    font-size: 17px;
}

#srapp .content .card .text {
    font-weight: 400;
    font-size: 15px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
cta
<-----------------------------------------------------------------> 
*/
#srapp .cta {
    margin-top: 6rem;
}

#srapp .cta .image {
    background-image: url("../img/asset/background/cta/cta2.svg");
    background-size: cover;
    background-position: center;
}

#srapp .cta h1 {
    font-size: 40px;
    font-weight: 600;
}

#srapp .cta .text {
    font-size: 20px;
    font-weight: 400;
}

/* 
<----------------------------------------------------------------->
keuntungan
<-----------------------------------------------------------------> 
*/
#srapp .keuntungan {
    margin-top: 6rem;
}

#srapp .keuntungan h1 {
    font-size: 45px;
    font-weight: 600;
}

#srapp .keuntungan p {
    font-size: 24px;
    font-weight: 400;
    color: #606060;
}

#srapp .keuntungan .row .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.24px;
}

/* 
<----------------------------------------------------------------->
cta2
<-----------------------------------------------------------------> 
*/
#srapp .cta2 {
    margin-top: 3rem;
}

#srapp .cta2 .row .text {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#srapp .cta2 .panah {
    width: 9%;
    background-color: #009dfb;
}

#srapp .cta2 .panah i {
    font-size: 30px;
}

#srapp .cta2 .image {
    background-image: url("../img/asset/background/cta/cta.svg");
    background-size: cover;
    background-position: center;
}

#srapp .tab-content .pcc {
    margin-left: 10rem;
    margin-right: 10rem;
}

#srapp .cta2 .image h1 {
    font-size: 40px;
    font-weight: 600;
}

#srapp .cta2 .image .teks {
    font-size: 20px;
    font-weight: 400;
}

#srapp .cta2 .log.active .text,
#srapp .cta2 .log.active .icon > path {
    fill: #009dfb;
    color: #009dfb;
}

/* 
<===========================================================================================>
CSR Communication
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
Hero
<-----------------------------------------------------------------> 
*/
/* #csrcomm .image1 .card {
    background-image: url(../img/csrComm/hero/hero2.png);
} */

/* 
<----------------------------------------------------------------->
Communication
<-----------------------------------------------------------------> 
*/
#comm,
#comm .b2,
#comm .b3 {
    margin-top: 10rem;
}

#comm .title {
    font-weight: 600;
    font-size: 48px;
}

#comm .text {
    font-weight: 400;
    font-size: 23px;
    color: #606060;
}

#comm .card .title {
    font-weight: 600;
    font-size: 17px;
}

#comm .card .text {
    font-weight: 400;
    font-size: 15px;
    color: #606060;
}

#comm .com2 {
    display: none !important;
}

#comm #comm1 {
    display: none !important;
}

/* 
<===========================================================================================>
CSR RnD
<===========================================================================================>
*/

#comm #comm2 .splide__pagination {
    position: unset !important;
    margin-top: 1rem !important;
}

#comm #comm2 .splide__pagination__page.is-active {
    background: #009dfb !important;
    transform: scale(1.4);
    z-index: 1;
}

/* 
<===========================================================================================>
CSR Communication
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
Hero
<-----------------------------------------------------------------> 
*/
#comm .inno h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

#comm .inno p {
    color: #606060;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

/* 
<===========================================================================================>
CSR School
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
image
<-----------------------------------------------------------------> 
*/
#imgsch {
    margin-top: 5rem;
}

#imgsch .image {
    background-image: url(../img/services/csrSch/image/sch.png);
    background-size: cover;
    background-position: center;
}

#imgsch .image .card:hover {
    background-color: #fff;
}

#imgsch .image {
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

#imgsch .card {
    margin-top: 4rem;
    width: 45%;
}

#imgsch .card .title {
    font-weight: 600;
    font-size: 24px;
}

#imgsch .card .text {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
Mini Class
<-----------------------------------------------------------------> 
*/
#okmedia .mini {
    width: 70%;
}

#okmedia .mini p {
    padding-right: 5rem;
    padding-left: 5rem;
}

#okmedia .checkbox {
    width: 300px;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 30px;
    position: relative;
    color: white;
    overflow: hidden;
}

#okmedia #checkbox_toggle {
    display: none;
}

#okmedia .checkbox .toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: #009dfb;
    transition: 0.4s;
    /* box-shadow: 0px 0px 10px rgb(255, 255, 20), 0px 0px 30px rgb(255, 255, 20); */
}

#okmedia .checkbox .slide {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#okmedia .checkbox .slide .text1 {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    color: white;
    cursor: pointer;
}

#okmedia .checkbox .slide .text2 {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    color: #606060;
    cursor: pointer;
}

#okmedia .check:checked + .checkbox .slide .toggle {
    width: 175px;
    transform: translateX(113px);
    background: #009dfb;
    /* box-shadow: -0px -0px 10px #8983f7, -0px -0px 30px #8983f7; */
}

#okmedia .check:checked + .checkbox .slide .text1 {
    color: #606060;
}

#okmedia .check:checked + .checkbox .slide .text2 {
    color: white;
}

/* 
<----------------------------------------------------------------->
Class
<-----------------------------------------------------------------> 
*/
#class {
    margin-top: 5rem;
}

#class h1 {
    font-weight: 600;
    font-size: 24px;
}

#class .card {
    height: 100%;
}

#class .image {
    height: 220px;
    /* background-size: cover; */
    /* background-position: center; */
}

#class .image label {
    font-size: 18px;
    font-family: Switzer;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.24px;
    background-color: #009dfb;
}

#class .card .title {
    font-weight: 600;
    font-size: 22px;
}

#class .card .harga {
    font-weight: 600;
    font-size: 20px;
    border: none !important;
}

#class .card .text {
    font-weight: 500;
    font-size: 16px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
CSR mini class
<-----------------------------------------------------------------> 
*/

#csrmini {
    margin-top: 10rem;
}

#csrmini .card {
    background-color: #f5f5f5;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#csrmini .card h1 {
    font-weight: 600;
    font-size: 48px;
}

#csrmini .card label {
    color: #606060;
}

/* 
<----------------------------------------------------------------->
CSR Outlook
<-----------------------------------------------------------------> 
*/
#outlook {
    margin-top: 20%;
}

#outlook .date {
    font-weight: 500;
    font-size: 18px;
}

#outlook .title {
    font-weight: 600;
    font-size: 45px;
}

#outlook .text {
    font-weight: 400;
    font-size: 19px;
    color: #878787;
}

/* 
<----------------------------------------------------------------->
CTA2
<-----------------------------------------------------------------> 
*/
#ctaa {
    margin-top: 5rem;
}

#ctaa .card {
    background-color: #009dfb;
}

#ctaa h1 {
    font-weight: 600;
    font-size: 49px;
}

#ctaa p {
    width: 80%;

    font-weight: 400;
    font-size: 18px;
    color: #f5f5f5;
}

/* 
<===========================================================================================>
csr mini class
<===========================================================================================>
*/
#miniclass .about {
    margin-top: 6rem;
}

#miniclass .about h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

#miniclass .checkbox {
    width: 500px;
    height: 60px;
    background-color: transparent;
    border-radius: 30px;
    position: relative;
    color: white;
    overflow: hidden;
}

#miniclass #checkbox_toggle {
    display: none;
}

#miniclass .checkbox .toggle {
    width: 130px;
    height: 50px;
    position: absolute;
    transform: translateX(30px);
    border-bottom: 5px solid #009dfb;
    left: 5px;
    cursor: pointer;
    background: transparent;
    transition: 0.4s;
    /* box-shadow: 0px 0px 10px rgb(255, 255, 20), 0px 0px 30px rgb(255, 255, 20); */
}

#miniclass .checkbox .slide {
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#miniclass .checkbox .slide .text1 {
    font-size: 24px;
    font-weight: 400;
    z-index: 100;
    color: #009dfb;
    cursor: pointer;
}

#miniclass .checkbox .slide .text2 {
    font-size: 24px;
    font-weight: 400;
    z-index: 100;
    color: #606060;
    cursor: pointer;
}

#miniclass .check:checked + .checkbox .slide .toggle {
    width: 230px;
    transform: translateX(230px);
    background: transparent;
    /* box-shadow: -0px -0px 10px #8983f7, -0px -0px 30px #8983f7; */
}

#miniclass .check:checked + .checkbox .slide .text1 {
    color: #606060;
}

#miniclass .check:checked + .checkbox .slide .text2 {
    color: #009dfb;
}

#miniclass .about .tabs .text {
    font-size: 24px;
    font-weight: 400;
    color: #606060;
}

#miniclass .about .tabs .card .title {
    font-size: 24px;
    font-weight: 600;
}

#miniclass .about .tabs .card .title2 {
    font-size: 24px;
    font-weight: 500;
}

#miniclass .about .tabs .card .date i,
#miniclass .about .tabs .card .status i,
#miniclass .about .tabs .card .maps i {
    font-size: 20px;
    margin-right: 10px;
    color: #009dfb;
}

#miniclass .about .tabs .card .date,
#miniclass .about .tabs .card .status,
#miniclass .about .tabs .card .maps {
    font-size: 18px;
    font-weight: 400;
    color: #606060;
}

#miniclass .about .tabs .border-start {
    border-color: #009dfb !important;
}

#miniclass .about .tabs .card.items {
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    color: #606060;
}

/* 
<===========================================================================================>
Event
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
Hero
<-----------------------------------------------------------------> 
*/
#event .img {
    background: #f5f5f5;
}

#event .card:hover {
    background: #fff;
}

#event .img h1 {
    font-weight: 600;
    font-size: 48px;
}

#event .card {
    margin-top: 13rem;
    /* position: absolute; */
    width: 60rem;
}

#event .card input::-webkit-input-placeholder {
    color: #606060;
}

/* #event .card input {
    background-color: #f5f5f5;
} */

/* #event .card select {
    border: 3px solid #f5f5f5;
    color: #606060;
} */

#event .card2 {
    display: none !important;
}

/* 
<----------------------------------------------------------------->
Upcoming Event
<-----------------------------------------------------------------> 
*/
#upcoming {
    margin-top: 10rem;
}

#upcoming .title {
    font-weight: 600;
    font-size: 48px;
}

#upcoming .text {
    font-weight: 600;
    font-size: 18px;
}

#upcoming .card .title .image {
    background-image: url(../img/event/event.png);
    background-size: cover;
    background-position: center;
    height: 44rem;
}

#upcoming .card .title .image label {
    background-color: #009dfb;
    font-size: 25px;
    font-family: Inter;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.16px;
}

#upcoming .card .title .image {
    padding-left: 5rem;
    padding-top: 5rem;
}

#upcoming .card .date {
    background-color: #009dfb;
}

#upcoming .card .card-body .text-light {
    background-color: transparent !important;
}

#upcoming .card .card-body .card i {
    font-size: 30px;
}

#upcoming .card .card-body .card .title1 {
    font-weight: 500;
    font-size: 18px;
}

#upcoming .card .card-body .card .title2 {
    font-weight: 500;
    font-size: 24px;
}

#upcoming .card .card-body .card-footer button {
    font-weight: 500;
    font-size: 24px;
}

#upcoming .card .card-body .card-footer button:hover {
    color: #009dfb;
}

/* 
<----------------------------------------------------------------->
News
<-----------------------------------------------------------------> 
*/
#news .card {
    height: auto;
}

#news .card .card-body button {
    color: #009dfb;
    background-color: #e0f3ff;
}

#news .card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#news .card h1 {
    font-weight: 600;
    font-size: 25px;
}

#news .card .card-footer {
    font-weight: 500;
    font-size: 20px;
}

#news #new2 {
    display: none !important;
}

/* 
<===========================================================================================>
Detail Event
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
hero
<-----------------------------------------------------------------> 
*/
#devent .hero h1 {
    font-size: 45px;
    font-weight: 600;
}

#devent .deskripsi {
    margin-top: 6rem;
}

#devent .hero .title {
    font-size: 40px;
    font-weight: 600;
}

#devent .hero .text {
    font-size: 24px;
    font-weight: 400;
    color: #606060;
}

#devent .deskripsi i {
    font-size: 40px;
    color: #009dfb;
}

#devent .deskripsi .title1,
#devent .deskripsi .title2 {
    font-size: 24px;
    font-weight: 400;
    color: #606060;
}

/*
<----------------------------------------------------------------->
form
<-----------------------------------------------------------------> 
*/
.form {
    margin-top: 6rem;
}

.form h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.form input {
    border-radius: 10px;
    opacity: 0.4000000059604645;
    background: #d9d9d9;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.form label {
    color: rgba(96, 96, 96, 0.6);
}

#devent .upevent h1 {
    font-size: 45px;
    font-weight: 600;
}

/* 
<===========================================================================================>
Portofolio
<===========================================================================================>
*/
/* 
<----------------------------------------------------------------->
hero
<-----------------------------------------------------------------> 
*/
#porto {
    margin-top: 5rem;
}

#porto .row .title {
    font-weight: 600;
    font-size: 45px;
}

#porto .row .date {
    font-weight: 600;
    font-size: 20px;
    color: #383838;
}

#porto .row .text {
    font-weight: 400;
    font-size: 20px;
    color: #606060;
}

#porto .text {
    font-weight: 400;
    font-size: 36px;
    color: #606060;
}

#porto .port {
    position: relative;
    left: 100px;
    height: 38rem;
}

/* 
<----------------------------------------------------------------->
Deliver
<-----------------------------------------------------------------> 
*/
#deliver {
    margin-top: 6rem;
}

#deliver h1 {
    font-weight: 600;
    font-size: 45px;
}

#deliver .row .col-md-6 {
    font-weight: 500;
    font-size: 20px;
}

/* 
<----------------------------------------------------------------->
Component
<-----------------------------------------------------------------> 
*/
#compo {
    margin-top: 10rem;
}

#compo .row {
    margin-top: 10rem;
}

#compo .row .title {
    font-weight: 600;
    font-size: 40px;
}

#compo .row .text {
    font-weight: 400;
    font-size: 20px;
    color: #606060;
}

#compo .g2 {
    display: none !important;
}

/* 
<----------------------------------------------------------------->
Scope
<-----------------------------------------------------------------> 
*/
#scope {
    margin-top: 10rem;
}

#scope h1 {
    font-weight: 600;
    font-size: 45px;
}

#scope .card .title {
    font-weight: 600;
    font-size: 17px;
}

#scope .card .text {
    font-weight: 400;
    font-size: 15px;
    color: #606060;
}

/* 
<----------------------------------------------------------------->
Footer
<-----------------------------------------------------------------> 
*/
#footer {
    margin-top: 5rem;

    padding: 0 0 30px 0;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

#footer .footer-top h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px !important;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 10px;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: black;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links.ourcompany ul a {
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}

#footer .footer-top .footer-links ul a:hover {
    color: #009dfb;
}

#footer .copyright {
    text-align: center;
}
